<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veriff">

    <application>
        <activity
            android:name=".feature_veriification.presentation.SDKActivity"
            android:exported="false" />
    </application>

</manifest>